---
import BaseLayout from "../layouts/BaseLayout.astro";
import Camera from "../components/Camera";
const pageTitle = "Anomaly Analysis";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="form-container">
    <Camera client:only />
  </div>

  <a
    class="github"
    href="https://github.com/emergy-official/anomaly.parf.ai"
    target="_blank">Github</a
  >
</BaseLayout>
