---
import { ViewTransitions } from "astro:transitions";
import "../styles/global.scss";
const { pageTitle } = Astro.props;
import "@fortawesome/fontawesome-svg-core/styles.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="main-container">
      <slot />
    </div>

    <script>
      import { library, config, dom } from "@fortawesome/fontawesome-svg-core";
      import { faSpinnerScale, faSlidersSimple, faArrowRightArrowLeft } from "@fortawesome/pro-solid-svg-icons";

      config.autoAddCss = false;
      library.add(faSpinnerScale);
      library.add(faSlidersSimple);
      library.add(faArrowRightArrowLeft);
      dom.watch();
    </script>
  </body>
</html>
