<div class="mx-auto max-w-7xl p-4 md:px-8">
  <div class="md:flex md:flex-row-reverse md:gap-16">
    <div class="md:basis-1/2 self-center">
      <div class="mb-12 text-lg dark:text-slate-400">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
          Building on modern foundations
        </h3>
        Gain a competitive advantage by incorporating industry leading practices
      </div>
      <div class="grid mx-auto gap-8 gap-y-4 md:gap-y-8">
        <div>
          <div class="flex flex-row max-w-none">
            <div class="flex justify-center">
              
            </div>
            <div class="mt-0.5">
              <h3 class="text-lg font-medium leading-6 dark:text-white ml-2 rtl:ml-0 rtl:mr-2">
                Built on top of Astro 4.0
              </h3>
              <p class="mt-3 text-muted dark:text-slate-400 ml-2 rtl:ml-0 rtl:mr-2">
                Benefiting from the performance and developer-friendly features of this modern static site generator.
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="flex flex-row max-w-none">
            <div class="flex justify-center">
              
            </div>
            <div class="mt-0.5">
              <h3 class="text-lg font-medium leading-6 dark:text-white ml-2 rtl:ml-0 rtl:mr-2">
                Styled using Tailwind CSS
              </h3>
              <p class="mt-3 text-muted dark:text-slate-400 ml-2 rtl:ml-0 rtl:mr-2">
                Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="flex flex-row max-w-none">
            <div class="flex justify-center">
              
            </div>
            <div class="mt-0.5">
              <h3 class="text-lg font-medium leading-6 dark:text-white ml-2 rtl:ml-0 rtl:mr-2">
                Cross-browser compatibility
              </h3>
              <p class="mt-3 text-muted dark:text-slate-400 ml-2 rtl:ml-0 rtl:mr-2">
                Ensure your website looks and functions consistently across various web browsers, delivering a seamless
                experience to all users.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div aria-hidden="true" class="mt-10 md:mt-0 md:basis-1/2">
      <div class="relative m-auto max-w-4xl">
        <img
          src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=2070&amp;q=80"
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
          width="500"
          height="500"
          srcset="
            https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=400&amp;q=80&amp;h=400 400w,
            https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=768&amp;q=80&amp;h=768 768w
          "
          sizes="(max-width: 768px) 100vw, 432px"
          style="object-fit: cover; object-position: center; width: 100%; height: auto; aspect-ratio: 1"
          class="mx-auto w-full rounded-lg bg-gray-500 shadow-lg"
          alt="Colorful Image"
          loading="lazy"
          decoding="async"
        />
      </div>
    </div>
  </div>
</div>
